@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rowdies&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.bg-purple-800 {
  background-color: #a7368d;
  color: #ffffff !important;
}

.text-white {
  color: #ffffff !important;
}

.text-center {
  text-align: center;
}
