.container {
  display: flex;
  /* grid-template-columns: 2fr 1fr; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
}

/* .no-scrollbar {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
    width: 0;
    height: 0;
  }

  scrollbar-width: none;
} */

.signin{
  background: linear-gradient(#F6C32E, #421638);
}
.signup:hover{
  background: linear-gradient(#F6C32E, #421638);
}

.signup{
  background: linear-gradient( #421638, #F6C32E);
}
.signin:hover{
  background: linear-gradient( #421638, #F6C32E);
}

.links{
  color: #421638;
  text-align: start;
  align-self: flex-start;
  margin: 0;
}
.links:hover{
  color: #F6C32E;
}

.background {
  background-color: #421638;
  border-right: 2px solid #ececec;
}

@media screen and (max-width: 576px) {
  .table {
    border-collapse: collapse;
    width: 100%;
  }

  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    text-align: left;
  }

  .table th {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    background-color: #f5f8fa;
  }

  .table td {
    border: 1px solid #dee2e6;
  }
}



@media (max-width: 768px) {
  .responsive{
    flex-direction: column;
    position: fixed;
    background: #fff;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  .links{
    margin: 0;
  }

  ul{
    gap: 30px;
  }

  nav {
    flex-direction: column;
  }

  button {
    display: block;
    width: 100%;
    margin-top: 1rem;
  }
}
